<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/tiliter.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Tilter Code Challenge</title>
  </head>
  <body>
    <div class="container">
        <div class="bd-example">
            <div class="mb-3" style="margin-top: 100px">
                <input class="form-control" id="movieSearch" placeholder="Search movies...">
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn button-custom" type="button" active>Button</button>
                <button class="btn button-custom" type="button">Button</button>
                <button class="btn button-custom" type="button">Button</button>
            </div>
            {% if movieData %} 
                {% for item in movieData %}
                    <div class="media" id="movie-{{ loop.index }}" name="{{ item["title"].lower() }}"> <!-- convert to lowercase so easier to search-->
                        <img src="{{item["poster"]}}" width="150" class="mr-3" alt="...">
                        <div class="media-body">
                        <h5 class="mt-0">{{ item["title"] }}</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src = "static/js/tiliter.js"></script>
  </body>
</html>