

{% extends "base.html" %}

{%block challenge4 %}active{% endblock %}
{% block content %}
<div class="card col-md-8 mx-auto" style="margin-top:20px;">
  <div class="card-body">
  <form>
    <div class="row">
      <div class="form-group col-6">
        <label for="exampleFormControlFile1">Select video file to upload</label>
        <input type="file" class="form-control-file" id="uploadVideoButton">
      </div>
      <div class="btn-group btn-group-toggle col-6" data-toggle="buttons" style="max-height: 40px;">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="4-1Button" autocomplete="off" checked>Challenge 4.1
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="4-2Button" autocomplete="off">Challenge 4.2
        </label>
      </div>
    </div>
  </form>

  <div id="challenge41Div">
    <form>
      <div class="form-group row">
        <label for="inputFrameWidth" class="col-sm-2 col-form-label">Frame width</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputFrameWidth" placeholder="400">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFrameHeight" class="col-sm-2 col-form-label">Frame height</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputFrameHeight" placeholder="240">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFramerate" class="col-sm-2 col-form-label">Framerate</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputFramerate" placeholder="5">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Colour</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="colourRadio" value="option1" checked>
              <label class="form-check-label" for="colourRadio">
                Colour
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="grayscaleRadio" value="option2">
              <label class="form-check-label" for="grayscaleRadio">
                Grayscale
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="button" onclick="challenge4_1()" id="changeResButton" class="btn btn-primary">Process Video</button>
        </div>
      </div>
    </form>
  </div>

  <div id="challenge42Div">
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Background subtraction method</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="MOG2Radio" value="option1" checked>
          <label class="form-check-label" for="colourRadio">
            MOG2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="knnRadio" value="option2">
          <label class="form-check-label" for="grayscaleRadio">
            KNN
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="absdiffRadio" value="option2">
          <label class="form-check-label" for="grayscaleRadio">
            Absdiff
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" onclick="challenge4_2()" id="removeBackgroundButton" class="btn btn-primary">Process Video</button>
    </div>
  </div>
</div>
  
</div>
</div>
{% endblock %}
{% block pageSpecificScripts %}
<script src = "static/js/challenge4.js"></script>
{% endblock %}