body {
    background-color: #F0F0F0;
  }

.button-custom {
    background-color: transparent !important; /* Green */
    border: none;
    color: #656356;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-custom:focus{
    border-bottom: 3px solid #FA8B3A !important;
    outline: none;
    box-shadow: none;
    border-radius: 0px;

}

input:checked {
    border-bottom: 3px solid #FA8B3A !important;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
  }

.button-custom:not(:disabled):not(.disabled).active {
    border-bottom: 3px solid #FA8B3A !important;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    color: #656356;
}